* /* aspectos generales de la web */{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, verdana;
}

body {
	background: #e3e4e6;
}

header, .main, footer {
	width: 90%;
	max-width: 90%;
	margin: 20px auto;
}

.button1 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pizza {
	border-radius: 10px;
	width: 70%;
	height: 300px;
}

.image1 {
	border-radius: 10px;
	width: 50%;
	height: 300px;
}

header nav {
	margin-top: 20px;
	padding: 10px;
	background: #f7d0cb;
	overflow: hidden;
	border-radius: 5px;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	margin: auto;
	background: #3e3e3c;
	padding: 10px 20px;
	display: block;
	color: #efbbff;
	text-decoration: none;
}

header nav ul li a:hover {
	color: #be29ec;
}

.main .article {
	width: 68.5%;
	margin-right: 1.5%;
	float: left;
	border-radius: 10px
}

.main .article article {
	padding: 20px;
	background: #be29ec;
	margin-bottom: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

aside {
	width: 30%;
	margin-top: 10px;
	background: #800080;
	float: left;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}

footer {
	background: #ff71ce;
	color: 	#01cdfe;
	clear: both;
	padding: 10px;
	border-radius: 10px
}

.footer {
	text-align: center
}

h2, h3, p {
	text-align: justify;
	margin-top: 15px;
}